# This is an Spack Environment file.
#
# It describes a set of packages to be installed, along with
# configuration settings.
spack:
  specs:
    # ref is filled in by the workflow
    - access-om2 ^mom5@git.{{ ref }}=access-om2 %intel@2021.10.4 target=x86_64
  view: true
  concretizer:
    # Due to different compilers under the same source root
    unify: false
