# This is a Spack Environment file!
#
# It describes a set of packages to be installed, along with
# configuration settings.
spack:
  specs:
    # ref is filled in by the workflow
    - mom5@git.{{ ref }}=access-om2 %intel@2021.10.0 target=x86_64
  packages:
    # We can still constrain stuff as we always have - or add the dependency to the above spec with `^libaccessom2@access-om2`
    libaccessom2:
      require:
      - '@access-om2'
    cmake:
      require:
      - '@3.24.4'
  view: true
  concretizer:
    # Due to different compilers under the same source root
    unify: false
