spack:
  specs:
  - 'access-esm1p5@latest'
  packages:
    mom5:
      require:
      - '@git.{{ ref }}=access-esm1.5'
    cice4:
      require:
      - '@{{ cice4_version }}'
    um7:
      require:
      - '@{{ um_version_esm1p5 }}'
    gcom4:
      require:
      - '@{{ gcom4_version }}'
    oasis3-mct:
      require:
      - '@{{ oasis3_mct_version_esm1p5 }}'
    netcdf-c:
      require:
      - '@{{ netcdf_c_version}}'
    netcdf-fortran:
      require:
      - '@{{ netcdf_fortran_version }}'
    openmpi:
      require:
      - '@{{ openmpi_version }}'
    all:
      require:
      - '%{{ intel_compiler }} target=x86_64'
  concretizer:
    unify: false
  view: false
