name: Build
on:
  pull_request:
  push:
    branches:
      - master
      - access-esm1.5
jobs:
  pre-ci:
    name: Pre-CI
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up matrix
        id: set-matrix
        # Find all relevant files under .github/build-ci/manifests/pr/<base_ref>
        # then output them as a JSON array (minus the last comma)
        run: |
          files=$(find .github/build-ci/manifests/pr -iname '*.j2' -printf '"%p",')
          echo "matrix=[${files%,}]" >> $GITHUB_OUTPUT
  ci:
    name: CI
    needs: pre-ci
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        file: ${{ fromJson(needs.pre-ci.outputs.matrix) }}
    uses: access-nri/build-ci/.github/workflows/ci.yml@v3
    with:
      spack-manifest-path: ${{ matrix.file }}
      spack-manifest-data-path: .github/build-ci/data/standard.json
      allow-ssh-into-spack-install: false  # If true, PR author must ssh into instance to complete job
      # builtin-spack-packages-ref: main
      # access-spack-packages-ref: api-v2
      # spack-config-ref: main
      # spack-ref: releases/v1.0
    secrets:
      spack-install-command-pat: ${{ secrets.SPACK_INSTALL_COMMAND_PAT }}
